<header class="mdc-toolbar mdc-toolbar--fixed">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <a href="#" class="material-icons mdc-theme--accent">menu</a>
            <span class="mdc-toolbar__title mdc-theme--accent" style="padding-left:10px;">Viroonga</span>
        </section>
    </div>
</header>
<section class="hero">
    <div align="center">
        <span class="mdc-theme--text-secondary-on-primary">
            <h1 class="mdc-typography--display1">WHERE KILLER APPS LIVE</h1>
            <h4 class="mdc-typography--display1">Inspire and win</h4>
        </span>
        <button
                onclick="window.location = '#cloud-native';"
                class="mdc-button mdc-button--raised button mdc-theme--accent-bg mdc-theme--text-primary-on-accent">↓ Learn More</button>
    </div>
</section>
<a name="cloud-native"></a>
<section class="home-section">
    <div class="demo-grid mdc-layout-grid home-section-grid-row">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 home-section-left-cell" align="center">
            <!--img class="home-img" src="static/img/pic1.jpg" width="90%" /-->
            <img src="static/monkey.svg" height="250px" />
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
            <div class="home-section-content-div">
                <h3 class="mdc-typography--display1">Stand Out</h3>
                <p>
                    You can't win if you're like everyone else. Your app or service won't succeed if users
                    aren't inspired.
                </p>
                <p>
                We believe designing and coding the best systems is more than just a science.
                It is an art form. It is within this art where opportunity to inspire can be found.
                </p>
                <p>
                    <button
                            onclick="window.location = '#golang';"
                            class="mdc-button mdc-button--raised button mdc-theme--accent-bg mdc-theme--text-primary-on-accent">↓ Learn More</button>
                </p>
            </div>
        </div>
    </div>
</section>
<a name="golang"></a>
<section class="home-section home-alt-bg">
    <div class="demo-grid mdc-layout-grid home-section-grid-row">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6" align="center">
            <div class="home-section-content-div">
                <h3 class="mdc-typography--display1">How it Works</h3>
                <p>
                    We connect the domain expertise of entrepreneurs and organizations with the
                    world class technology and human talent needed to create the next killer app
                    or service.
                </p>
                <p>
                    blah blah
                </p>
                <button class="mdc-button mdc-button--raised button mdc-theme--accent-bg mdc-theme--text-primary-on-accent">↓ Learn More</button>
            </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6" align="center">
            <img src="static/img/golang.png" width="60%" />
        </div>
    </div>
</section>
<section class="home-section home-section-bg-1">
    hero stuff
</section>

<section class="home-section">
    <section>
        <h1 align="center">Partners</h1>
    </section>
    <section>
        <div class="demo-grid mdc-layout-grid home-section-grid-row">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4" align="center">
                <img src="static/img/Kubernetes-logo.png" width="200px" />
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4" align="center">
                <img src="static/img/Kubernetes-logo.png" width="200px" />
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4" align="center">
                <img src="static/img/Kubernetes-logo.png" width="200px" />
            </div>
        </div>
        <div class="demo-grid mdc-layout-grid home-section-grid-row">
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4" align="center">
                Kubernetes
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4" align="center">
                Stuff 2
            </div>
            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4" align="center">
                Stuff 3
            </div>
        </div>
    </section>
</section>
