
<html>

<body>

This is the home page

<!-- Status Messages -->
{{ if .LastSuccessMsg }}
<p>
    Success Message: <strong>{{ .LastSuccessMsg }}</strong>
</p>
{{ end }}

{{ if .LastFailMsg }}
<p>
    Failure Message: <strong>{{ .LastFailMsg }}</strong>
</p>
{{ end }}

<!-- / End Status Messages -->


<h4>Profile Information</h4>
<!-- User Profile -->
<p>
{{ if .UserProfile }}
    You are logged in as {{ .UserProfile.Email}}. <a href="/signout">Signout</a>
    <br />
    Photo: <img src="{{ .UserProfile.Photo }}" />
{{ else }}
    You are not logged in - <a href="#" onclick="showLogin()">login/register</a>
{{ end }}
</p>
<!-- / End User Profile -->


<!-- Cards Stored in Stripe -->

<h4>Credit/Debit Cards</h4>

{{ if .UserProfile }}
    {{range .Cards}}
        {{.Display}} {{ if .Default }} (Default) {{ end }} <a href="/delcard?cardId={{ .ID }}">X</a> <br />
    {{end}}

    {{ $length := len .Cards }} {{ if eq $length 0 }}
        <i>You do not have any payment cards on your account.</i> <br />
    {{ end }}
    <p>
        <a onclick="openStripe()">Add a Card</a>
    </p>
{{ end }}

<!-- / End Stripe Cards -->


<!-- Available Subscription Plans -->
<h4>Subscription Plans</h4>
{{ if .UserProfile }}
    {{range .Plans}}

        {{ .Name }} - {{ displayAmount .Amount }} - <a href="/subscribe?planId={{ .ID }}">Subscribe</a><br />

    {{end}}
{{end}}
<!-- / end plans -->

<h4>Subscriptions</h4>
{{ if .StripeCustomer }}
{{ if .StripeCustomer.Subs }}
{{range .StripeCustomer.Subs.Values}}

    {{.Plan.Name}} |
    {{.Quantity}} |
    {{ formatTime .Start }} |
    {{ $total := multiply .Plan.Amount .Quantity }} |
{{ displayAmount $total}} | <a href="/unsubscribe?subId={{ .ID }}">Unsubscribe</a>

{{end}}
{{end}}
{{end}}


<h4>API Examples</h4>

<b>Call the page API, with no user token:</b>
<p>
curl {{ .Auth0CallBackHost}}/api/page
</p>

{{ if .UserProfile }}
    <b>Call the page API, with your user token:</b>
    <p>
        curl -H "X-Auth-Token: {{ .UserToken }}" {{ .Auth0CallBackHost}}/api/page
    </p>


    <b>Call a secure API, with your Jwt token:</b>
    <p>
    curl -H "X-Auth-Token: {{ .UserToken }}" {{ .Auth0CallBackHost}}/api/example
    </p>
{{ end }}

<!-- JS BELOW THIS LINE
========================================
-->


<!-- AUTH0 AUTH -->
<script src="https://cdn.auth0.com/js/lock/10.9.1/lock.min.js"></script>
<script>

    const appDomain = '{{ .Auth0CallBackHost }}';
    const stripePubKey = '{{ .StripePubKey }}';
    const userEmail = getCookie('cn-email');

    // get a cookie
    function getCookie(cname) {
        var name = cname + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        for(var i = 0; i <ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    var lock = new Auth0Lock('{{ .Auth0ClientId }}', '{{ .Auth0Domain }}', {
        auth: {
            redirectUrl: appDomain + '{{ .Auth0CallBackURI }}',
            responseType: 'code',
            params: {
                scope: 'openid email' // Learn about scopes: https://auth0.com/docs/scopes
            }
        },
        theme: {
            primaryColor: '#3f51b5',
            name: '{{ .AppName }}',
            foregroundColor: "#000000"
        },
    });


    function showLogin(){
        lock.show();
    }

    function logout(){
        window.location = appDomain + '/signout';
    }

    function webBasePath() {
        return appDomain;
    }

    function apiBasePath() {
        return appDomain + '/api';
    }

</script>

<!-- /END AUTH0 -->


<!-- STRIPE -->

<!-- Stripe Custom Form -->
<br />
<script src="https://checkout.stripe.com/checkout.js"></script>

</div>

<script>
    var handler = StripeCheckout.configure({
        key: stripePubKey,
        image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
        locale: 'auto',
        token: function(token) {
            // You can access the token ID with `token.id`.
            // Get the token ID to your server-side code for use.
            window.location.href = webBasePath() + '/addcard?token_id=' + token.id;
        }
    });
    // Close Checkout on page navigation:
    window.addEventListener('popstate', function() {
        handler.close();
    });

    function openStripe() {
        handler.open({
            name: 'Add a Credit Card',
            email: userEmail,
            description: 'Add a Credit Card to your Cloud Ninja account.',
            panelLabel: 'Add a Card',
            allowRememberMe: false,
        });
    }



</script>


<!-- /END STRIPE -->


</body>

</html>