

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="cta cta-1 cta--horizontal boxed boxed--border text-center-xs">
                    <div class="col-md-3 col-md-offset-1">
                        <h4>Let's get you started</h4>
                    </div>
                    <div class="col-md-4">
                        <p class="lead">Free Consultation</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <a class="btn btn--primary type--uppercase" href="#"> <span class="btn__text">Contact Us</span> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
