<a name='whatyouget'></a>
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8">
                <h1>What We Do</h1>
                <p class="lead">
                    Viroonga is a small team of talented and experienced technology leaders. We have access to a
                    large network of 200+ talented people spanning roles including engineering, product development,
                    UX design and more. Learn more about <a href="/#ourprocess">our process</a>. By choosing Viroonga,
                    you get the following:
                </p>
            </div>
        </div>
    </div>
</section>


<section class="text-center imagebg" data-overlay="4">
  <div class="background-image-holder"> <img alt="background" src="static/img/8-bg.png"> </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="text-block"> <i class="icon color--dark icon-Approved-Window icon--lg"></i>
                    <h4>A Beautiful, Dynamic Online Presence</h4>
                    <p> We create beautiful websites and apps packed with functionality that inspires users.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="text-block"> <i class="icon color--dark icon-Cloud- icon--lg"></i>
                    <h4>Technology That Scales With Your Business</h4>
                    <p>Our technology stack is cloud native. We scale dynamically with the needs of your business.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="text-block"> <i class="icon color--dark icon-People-onCloud icon--lg"></i>
                    <h4>Hands-off, End-to-End Management</h4>
                    <p>All services are managed by us, meaning you can focus on running your business as efficiently as possible.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="text-block"> <i class="icon color--dark icon-Bar-Chart icon--lg"></i>
                    <h4>Improved Bottom Line</h4>
                    <p>A great product backed by efficient technology and management ensures efficient and sustainable growth.</p>
                </div>
            </div>
        </div>
    </div>
</section>
