<!-- Our Process Section -->
<a name='ourprocess'></a>
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-md-8">
                <h1>Our Process</h1>
                <p class="lead"> Successful projects require a wholistic, detail oriented approach. We bring our combined expertise and knowledge of best practices to bare on every project.</p>
            </div>
        </div>
    </div>
</section>
<section class="imagebg space--xxs" data-overlay="9">
    <div class="background-image-holder"> <img alt="background" src="static/img/hero-2.jpg"> </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="process-1">
                    <div class="process__item">
                        <h4>Initial Consultation</h4>
                        <p>During the initial consultation, we try to understand your goals, vision and determine if there is a good fit.</p>
                    </div>
                    <div class="process__item">
                        <h4>"Whole Product" Planning</h4>
                        <p>A successful product is more than just the product itself. It includes marketing and associated activities required to gain adoption. During the planning phase we work to define what success means from ALL angles.</p>
                    </div>
                    <div class="process__item">
                        <h4>Talent &amp; Technology Identification</h4>
                        <p>Once the requirements are fully understood, we identify and place the best resources from our network to ensure success.</p>
                    </div>
                    <div class="process__item">
                        <h4>Implementation &amp; Iteration</h4>
                        <p>Our team gets to work on all development activities required to ensure end-to-end success. Once initial delivery is completed. We work out a maintenance and iteration plan to ensure we're continually improving and optimizing the delivered product.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- / Our Process -->
